* {
  margin: 0;
  font-family: "Rubik", sans-serif;
  background-color: lightblue;
}

.App {
  display: flex;
  justify-content: center;
  background-color: lightblue;
}

.social-icons {
  /* position: absolute; */

  /* border: solid; */
  background-color: white;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  /* border: solid; */
  align-items: center;
  margin-top: 20px;
  /* margin-bottom: 20px; */
}

.social-icons > a {
  background-color: white;
  color: blue;
}

.linkedin-icon {
  color: rgb(10, 102, 194);
}
.github-icon {
  color: #211f1f;
}

.instagram-icon {
  color: lightcoral;
}
svg {
  color: rgb(11, 36, 111);
  background-color: white;
}

svg:hover {
  color: mediumspringgreen;
}

/* STARTING PAGE QUIZZ */
.start-page,
.quizz-page {
  position: relative;
  /* border: solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 800px;
  margin-top: 100px;
  background-color: white;
  border-radius: 10px;
}

.start-button {
  all: unset;
  /* border: solid; */
  border-radius: 10px;
  width: 170px;
  height: 50px;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 3px black;
  background-color: lightsalmon;
  color: black;
  font-weight: 600;
}

.start-button:hover {
  background-color: lavender;
}

.start-page > h1 {
  margin-bottom: 20px;
  color: #211f1f;
  text-shadow: 1px 1px 1px black;
  background-color: white;
}

.start-page > p {
  margin-bottom: 30px;
  background-color: white;
}

.deco-haut {
  position: absolute;
  /* border: solid; */
  width: 120px;
  height: 150px;
  border-radius: 0 10px 0 100%;
  top: 0;
  right: 0px;
  background-color: lightgoldenrodyellow;
}

.deco-bas {
  position: absolute;
  /* border: solid; */
  width: 100px;
  height: 90px;
  bottom: 0px;
  left: 0px;
  border-radius: 0 100% 0 10px;
  background-color: lightseagreen;
}

/* QUIZZ PAGE */

/* Question Style*/

.question {
  margin: 0 10px 20px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* border: solid; */
  /* padding-right: 40px; */
}

.quizz-page {
  background-color: white;
  display: flex;
  flex-direction: column;
}

/* SI PROBLEME d'affichage des reponses */
/* regler le width ici */
.question-list {
  background-color: white;
  right: 25px;
  /* bottom: 20px; */
  color: midnightblue;
  width: 600px;
}

.question > h2 {
  margin-bottom: 10px;
  background-color: white;
  font-size: 18px;
  /* border: solid; */
}

.question > .answer-list {
  background-color: white;
}

.answer-list {
  display: flex;
  gap: 20px;
  background-color: white;
}

.answer-list > .answer {
  all: unset;
  border: 2px solid;
  border-radius: 10px;
  /* width: auto; */
  padding: 2px 20px;
  font-size: 12px;
  /* margin-left: 10px; */
  cursor: pointer;
}

.answer:hover {
  background-color: lightcyan;
}

hr {
  position: relative;
  margin-top: 15px;
  width: 80%;
  opacity: 0.33;
  color: rgb(15, 82, 139);
}

.button-check {
  all: unset;
  background-color: rgb(39, 39, 141);
  color: white;
  width: 140px;
  height: 50px;
  text-align: center;
  border-radius: 17px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 1px 1px 4px 0px rgb(47, 5, 47);
  cursor: pointer;
}

.button-check:hover {
  background-color: lightcoral;
}

#choosed {
  background-color: lightcyan;
}

#false {
  background-color: lightcoral;
}

#true {
  background-color: lightgreen;
}

/* .lol {
  color: rgb(47, 5, 47);
  font-size: larger;
} */

.boutons {
  display: flex;
  background-color: white;
  /* border: solid; */
  width: 400px;
  justify-content: space-around;
  align-items: center;
}

.boutons > h3 {
  background-color: white;
  font-size: 16px;
  text-align: center;
  color: mediumseagreen;
  padding-top: 10px;
}

.button-replay {
  all: unset;
  background-color: mediumvioletred;
  color: white;
  width: 140px;
  height: 50px;
  text-align: center;
  border-radius: 17px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 1px 1px 4px 0px rgb(47, 5, 47);
  cursor: pointer;
  /* margin-top: 10px; */
}

#again {
  background-color: mediumseagreen;
}

.social-p {
  font-family: "Grape Nuts", cursive;
  background-color: white;
}
