@media (max-width: 500px) {
  .quizz-page,
  .start-page {
    width: 100vw;
    margin-top: 0px;
    height: 100vh;
  }

  .question-list {
    width: 330px;
  }

  .question > h2 {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .answer:hover {
    background-color: lightgoldenrodyellow;
  }

  .answer-list {
    gap: 10px;
  }

  .answer-list > .answer {
    font-size: 10px;
    padding: 4px;
    /* font-weight: 600; */
    color: black;
  }

  .deco-haut {
    width: 0px;
    height: 0px;
  }

  .deco-bas {
    width: 50px;
    height: 45px;
  }

  hr {
    margin-top: 7px;
  }

  .button-check {
    width: 70px;
    height: 40px;
    font-size: 10px;
  }

  .button-replay {
    width: 70px;
    height: 40px;
    font-size: 10px;
    align-self: center;
  }

  .boutons {
    width: 200px;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  #choosed {
    background-color: lightgoldenrodyellow;
  }
}
